In [1]:
import pandas as pd 
import numpy as np

In [59]:
df = pd.read_csv("dataset/zomato.csv",encoding="latin 1")

In [11]:
df.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591

In [61]:
rating = df.groupby(df["Restaurant Name"])["Aggregate rating"].count().sort_values(ascending=False).reset_index(name="Rate_count")
rating[rating["Rate_count"]<30]

                              Restaurant Name  Rate_count
7                                       Giani          29
8                              Baskin Robbins          28
9                             Barbeque Nation          26
10                             Dunkin' Donuts          22
11                                    Giani's          22
...                                       ...         ...
7441  Ghungroo Club & Bar - By Gautam Gambhir           1
7442                            Ghar Ki Handi           1
7443                             Ghar Ka Swad           1
7444                         Ghar Bistro Cafe           1
7445                      íukuraÛôa SofrasÛ±           1

[7439 rows x 2 columns]

In [63]:
# convert less then 30 vote count make it "other"

def fun(val):
    if val in rating[rating["Rate_count"]<30]["Rate_count"]:
        return other
    else:
        return val
df['Restaurant Name']=df['Restaurant Name'].apply(fun)

In [67]:
def fun(row):
    if row['Rate_count'] < 30:
        return 'other'
    else:
        return row['Restaurant Name']

df['Restaurant Name'] = df.apply(fun, axis=1)

KeyError: 'Rate_count'

In [65]:
df.groupby(df["Restaurant Name"])["Aggregate rating"].count().sort_values(ascending=False).reset_index(name="Rate_count")

                              Restaurant Name  Rate_count
0                             Cafe Coffee Day          83
1                              Domino's Pizza          79
2                                      Subway          63
3                            Green Chick Chop          51
4                                  McDonald's          48
...                                       ...         ...
7441  Ghungroo Club & Bar - By Gautam Gambhir           1
7442                            Ghar Ki Handi           1
7443                             Ghar Ka Swad           1
7444                         Ghar Bistro Cafe           1
7445                      íukuraÛôa SofrasÛ±           1

[7446 rows x 2 columns]

In [ ]:
''45. How to change the order of columns of a dataframe?
Difficulty Level: L3

Actually 3 questions.

In df, interchange columns 'a' and 'c'.
Create a generic function to interchange two columns, without hardcoding column names.

Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.'''

Input

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

In [ ]:
df.iloc[:,["D","A"]]

In [ ]:
'''1 In df, interchange columns 'a' and 'c'''
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df[list('cbade')]


'''2 Create a generic function to interchange two columns, without hardcoding column names.'''
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
col_name=df.columns.to_list()
col_name[0],col_name[-1]=col_name[-1],col_name[0]
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=col_name)
df


'''3 Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.'''
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df=df[sorted(df.columns,reverse=True)]
df